include *.rst
recursive-include cmsplugin_shopcart/templates *.html
recursive-include cmsplugin_featuredproducts/templates *.html
recursive-include cmsplugin_topproducts/templates *.html
recursive-include cmsplugin_userorders/templates *.html
