{% load i18n thumbnail %}
<div class="teaser-container">
	<h4>{% blocktrans %}Top {{ product_count }} products{% endblocktrans %}</h4>
	{% for product in products %}
		<p class="teaser-item {% cycle 'odd' 'even' %}">
			<a href="{{ product.get_absolute_url }}" class="clearfix">
				{% if product.has_images %}
				{% thumbnail product.get_images.0 65x65 upscale crop as image %}
				<span class="img">
					<img src="{{ image }}" alt="" />
				</span>
				{% endif %}
				<span class="desc">
					<span class="title">{{ product.name }}</span><br />
					{{ product.short_description }}<br />
					<strong>{{ product.unit_price }}</strong>
				</span>
			</a>
		</p>
	{% endfor %}
</div>
